{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for city in cities %}
<h3>{{ city.name }}, {{ city.state.name }}</h3>
<ul class="items">
	{% for venue in city.venues %}
	<li class="venue-list-wrapper">
			<a href="{{url_for('venues.venues_detail', venue_id=venue.id)}}">
				<div class="item">
					<i class="fas fa-music"></i>
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<button class="btn btn-danger venue-list-delete" data-id="{{ venue.id }}">
				<i class="fas fa-trash"></i>
			</button>
	</li>
	{% endfor %}
</ul>

<script>
	const deleteBtns = document.getElementsByClassName('venue-list-delete');

	const deleteOnClick = (e) => {
		const venueId = e.target.dataset.id;
		console.log(venueId);
		fetch(`/venues/${venueId}`, { method: 'DELETE' })
			.then(function (res) {
				if(res.status == 200){
					// redirect to homepage
					window.location.href = window.location.origin;
				}
			})
			.catch(function (e) {
				console.error(e);
			});
	}

	for (let i = 0; i < deleteBtns.length; i++) {
		deleteBtns[i].onclick = deleteOnClick;
	}

</script>
{% endfor %}
{% endblock %}
